/**
Plugin CSS Code 
*/

/**
Loading Fonts
*/
@font-face {
    font-family: 'Adelle Sans Lt';
    src: url('../fonts/AdelleSans-Light.woff2') format('woff2'),
        url('../fonts/AdelleSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('../fonts/AdelleSans-Italic.woff2') format('woff2'),
        url('../fonts/AdelleSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('../fonts/AdelleSans-Bold.woff2') format('woff2'),
        url('../fonts/AdelleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adelle Sans Th';
    src: url('../fonts/AdelleSans-Thin.woff2') format('woff2'),
        url('../fonts/AdelleSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adelle Sans';
    src: url('../fonts/AdelleSans-Regular.woff2') format('woff2'),
        url('../fonts/AdelleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#input-keywords{
	white-space: pre-wrap; /* Preserves line breaks and wraps text */
	word-wrap: break-word; /* Breaks long words */
	width: 100%; /* Full width of the container */
	height: 150px; /* Adjust height as needed */
	border-radius: 20px;
}
.main-wrapper {
	display:flex; 
	align-items:flex-start; 
	justify-content:flex-start; 
	flex-direction:row; 
	width:100%
}
.main-wrapper .wrap {
	width: 48%;
    padding: 20px;
    background: #f9ebeb;
    border: 1px solid #ef9090;
    border-radius: 8px;
}
.main-wrapper .wrap h1 {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
    margin: 0 0 20px 0;
}
.main-wrapper .wrap h2 {
	font-size: 18px;
	padding: 0;
    margin: 0 0 20px 0;
	font-weight: 600;
}
.main-wrapper .form-layout {
	margin-bottom: 20px;
}
.main-wrapper .form-layout label {
	display: block; 
	font-size: 16px; 
	margin-bottom: 5px;
}
.main-wrapper .form-layout .regular-text{
	width: 100%; 
	padding: 10px; 
	border: 1px solid #ccc; 
	border-radius: 5px;
}
/* .main-wrapper .form-layout #generate-content {
	margin-top: 10px;
	background: transparent;
    border: none;
	float: right;
} */
.wrap.preview {
    background: #d8dfe5;
	border: 2px solid;
}
#content-preview input#post_title {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #979696;
    border-radius: 5px;
	width: 100%;
}
div#content-preview {
    border-top: 2px solid;
    padding-top: 20px;
}
img.preview_image{
	width: 100%;
}
.wrap.preview .template_one span {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 10px;
    display: inline-block;
}
.wrap.preview div#template1,
.wrap.preview div#template2 {
    text-align: center;
	filter: blur(5px);
    -webkit-filter: blur(5px);
}
.wrap.preview div#template2 h2 {
    padding-bottom: 0;
}
.wrap.preview div#template3 {
    text-align: left;
	filter: blur(5px);
    -webkit-filter: blur(5px);
}
.wrap.preview div#template3 span {
    padding: 10px 0 0 5px;
}
.wrap.preview div#template3 h2 {
    padding-left: 4px;
    margin-bottom: 0;
}
.wrap.preview div#template3 .preview_content {
    padding-left: 5px;
    padding-top: 10px;
}

.wrap.preview .preview_content {
    padding: 15px;
    font-size: 16px;
    line-height: 25px;
	color: #000;
}
.wrap.preview .template_one h2{
	font-size: 40px;
    letter-spacing: 0;
    color: #18274a;
    padding: 15px;
}
#template2 img.preview_image {
    margin-bottom: 15px;
}
#template2 .preview_content {
    padding-top: 0;
}

/* Template styles */
#template1, #template2, #template3 {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 10px;
    background: #ffffff;
	font-family: 'Adelle Sans';
}
#template1.active, #template2.active, #template3.active {
	display: block;
}
div#content-preview label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}
select#post-category{
	width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.info {
    display: block;
    padding: 10px 0 0;
    color: #e90b0b;
    font-weight: 600;
}

textarea#generated-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #979696;
    border-radius: 5px;
}



.textarea-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea-container textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    overflow-y: hidden;
    border-radius: 20px;
}
.textarea-container .send-button {
  position: absolute;
  bottom: 9px;
  right: 4px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textarea-container .send-button:hover {
  background-color: #333;
}
.wrap.preview .preview_content p {
    padding: 0px;
    font-size: 16px;
    line-height: 25px;
    color: #000;
	margin: 0;
}


/* Loading Overlay */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
